// Descriptive naming
// ------------------
$color-white: #ffffff;

// Functional naming
// ------------------
// text-color
$text-color-primary: $color-white;

// font-weight
$bold: 700;
$light: 300;
